body {
  margin: 0;
}
.container {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px green;
  display: flex;
}
.container h1 {
  color: tomato;
  margin: 0;
  font-size: 42px;
}
.title {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus a {
  margin-right: 50px;
  text-decoration: none;
  font-size: 17px;
}
