* {
  margin: 0;
}
body {
  margin: 0;
}
.container {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px green;
  display: flex;
}
.container h1 {
  color: tomato;
  margin: 0;
  font-size: 42px;
}
.title {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus a {
  margin-right: 50px;
  text-decoration: none;
  font-size: 17px;
}

.box {
  width: 1000px;
  height: 450px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}
.grid-Item1 {
  color: white;
  background-color: coral;
  grid-column: 1/4;
  grid-row: 1/5;
  background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0.6)),
    url("https://static.vecteezy.com/system/resources/thumbnails/019/467/444/small_2x/adorable-little-girls-on-shopping-portrait-of-kids-with-shopping-bags-photo.jpg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.grid-Item1 h1 {
  color: tomato;
  font-size: 57px;
  margin-bottom: 10px;
}
.grid-Item2 {
  background-color: yellow;
  grid-column: 4/6;
  grid-row: 3/5;
  background-image:
    linear-gradient(24deg, rgba(0, 0, 0, 0.6)),
    url("https://koala.sh/api/image/v2-6lipg-8icru.jpg?width=1216&height=832&dream");
  background-size: 100% 100%;
}
.grid-Item3 {
  grid-column: 4/6;
  grid-row: 1/3;

  background-image:
    linear-gradient(90deg, rgba(0, 0, 0, 0.6)),
    url("https://thumbs.dreamstime.com/b/kids-shopping-mall-cute-holding-their-bags-93740982.jpg");
  background-size: 100% 100%;
}
