* {
  margin: 0;
}
.container {
  width: 100%;
  height: 90px;
  box-shadow: 0 0 10px green;
  display: flex;
}
.container h1 {
  color: tomato;
  margin: 0;
  font-size: 42px;
}
.title {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menus a {
  margin-right: 50px;
  text-decoration: none;
  font-size: 17px;
}
.categories {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
}
.categories div {
  text-align: center;
}
.categories div img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 10px tomato;
  margin-bottom: 10px;
}
.categories div h2 {
  color: tomato;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
}
.product {
  width: 330px;
  padding: 20px;
  box-shadow: 0 0 10px green;

  text-align: center;
}
.product h2 {
  margin: 20px 0px;
  color: green;
}
.product p {
  margin: 15px;
}
.product button {
  border: none;
  padding: 15px 30px;
  background-color: green;
  color: white;
  border-radius: 7px;
}
